
.ant-table-cell {
    padding: 8px 8px !important;
}

.ant-drawer-body p.site-description-item-profile-p {
    display: block;
    margin-bottom: 16px;
    color: rgba(0, 0, 0, 0.85);
    font-size: 16px;
    line-height: 1.5715;
}
  
.site-description-item-profile-p-label {
    display: inline-block;
    margin-right: 8px;
    font-weight: 400;
    color: black;
}