/* styles/IntroComponent.module.css */

.container {
    padding: 20px;
  }
  
  .textCenter {
    text-align: center;
  }
  
  .mainTitle {
    font-size: 24px; /* Adjust font size to match your design */
    font-weight: bold;
  }
  
  .subTitle {
    font-size: 18px; /* Adjust font size to match your design */
    color: #555; /* Adjust color to match your design */
  }
  
  .textSection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 14px; /* Adjust font size to match your design */
  }
  
  .paragraph {
    line-height: 1.5; /* Adjust line height for better readability */
  }
  
  .imageSection {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .customImage {
    width: 100%;
    height: auto;
    max-width: 300px; /* Adjust the max-width to make the image smaller */
  }
  